<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="https://resource.ghink.net/public/img/logo/ghink.png" type="image/png">
	<link rel="shortcut icon" href='https://resource.ghink.net/public/img/logo/ghink.png' type="image/png">
    <meta http-equiv="refresh" content="5;url=oauth.php?type=panel"> 
    <title>实名认证系统 - 极科网络工作室</title>
    <link href="https://resource.ghink.net/site/public/css/bootstrap_4.4.1.css" rel="stylesheet">
  </head>
  <body>
    <div class="container mt-2">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron">
            <h3 class="text-center">认证成功！</h3>
			<h5 class="text-center">5秒后将回到用户中心！</h5>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p>Copyright © Ghink Network Studio 2014. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://resource.ghink.net/site/public/js/jquery.js"></script>
    <script src="https://resource.ghink.net/site/public/js/popper.min.js"></script>
    <script src="https://resource.ghink.net/site/public/js/bootstrap_4.4.1.js"></script>
  </body>
</html>