<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" href="https://resource.ghink.net/public/img/logo/ghink.png" type="image/png">
    <link rel="shortcut icon" href='https://resource.ghink.net/public/img/logo/ghink.png' type="image/png">
    <title>Reg Ghink Network Passport</title>
    <style>
        .container {
            width: 60%;
            margin: 10% auto 0;
            background-color: #f0f0f0;
            padding: 2% 5%;
            border-radius: 10px
        }

        ul {
            padding-left: 20px;
        }

            ul li {
                line-height: 2.3
            }

        a {
            color: #20a53a
        }
    </style>
</head>
<body>
    <div class="container">
	<script>
		<center>
			<h1>Ghink Network Passport</h1>
			<h3>Reg Auth Mail Check</h3>
			<ul>
				<p>Your reg applicant failed</p>
				<p>Please check weather you have checked or copied a wrong link</p>
				<p>Copyright &copy; Ghink Network Studio</p>
			</ul>
		</center>
	</script>
    </div>
</body>
</html>