<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        .container {
            width: 60%;
            margin: 10% auto 0;
            background-color: #f0f0f0;
            padding: 2% 5%;
            border-radius: 10px
        }

        ul {
            padding-left: 20px;
        }

            p {
                line-height: 2.3
            }

        a {
            color: #20a53a
        }
    </style>
</head>
<body>
    <div class="container">
		<center>
            <h1>极科网络通行证</h1>
            <h3>注册验证邮件</h3>
            <ul>
                <p>感谢您注册极科网络通行证！这是您的验证邮件</p>
                <p>点击链接进行验证：<a href="{{link}}">{{link}}</a></p>
                <p>有效期三小时</p>
                <p>如果链接无法点击，请复制到浏览器打开</p>
                <p>如果您没有注册极科网络通行证，请忽略本邮件</p>
                <p>版权所有 &copy; 极科网络工作室</p>
            </ul>
		</center>
    </div>
</body>
</html>